* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    
    
}

.slider {
    background-color: rgb(73, 192, 152);
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 4%;
}

.slider-wrapper {
    width: 90%;
    height: 80vh;
    background-color: #fff;
    margin: 0 auto;
    background-color: rgb(73, 192, 152);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid red;
}

.slider-images {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    /*background-image: url(./images/what-year-is-it-meme.jpg);*/
    /*background-image: url(./images/19.jpg);*/
    /*background-image: url(./images/45e717e55f28540767ee857753c0045e.png);*/
    background-image: url(./images/what-they-think-i-do-sysdamin.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    grid-column: 1/3;
    
}

.bullet {
    border: 1px solid red;
    padding-top: 50%;
    transform: translate(-50%);
    grid-column: 2/3;
}

.text-block {
    border: 1px solid red;
}